<div class="header">
</div>

<div class="jumbotron" ng-controller="RecipeCtrl">

  <h2>Would you like any {{breadChoice.name}}? {{choice}}</h2>
  <p class="lead">
    <img src="images/toaster.png" alt="I'm Talkie Toaster" title="I toast, therefor I am"><br>
  </p>
  <div class="btn-group" ng-click="breadChoice.showRecipe = true">
    <button type="button" class="btn btn-success">Yes, show me {{breadChoice.name}}</button>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-danger" ng-click="newBreadChoice()">No thank you</button>
  </div>
  <hr>

  <div ng-show="breadChoice.showRecipe">
    <p>{{breadChoice.recipe}}</p>
  </div>

</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-gift"></span> Made with Love by Pearson Developer Relations
  <a href="http://www.twitter.com/pearsonapi">@PearsonAPI</a></p>
</div>

