<div class="header">
  <h3 class="text-muted">Can I Eat..?</h3>
</div>

<div class="jumbotron">
  <h1>Fussy Eater?</h1>
  <h2>We can help, but you still can't have your cake and eat it.</h2>
  <p class="lead">
  </p>
</div>

<div class="row marketing">
  <h4>What you want?</h4>
  <p>
   Recipe Selector
  </p>

  <h4>What you doing fatty?</h4>
  <p>
    Fad type here
  </p>

  <h4>Allowed</h4>
  <p>yes/no</p>
  <p><a class="btn btn-lg btn-success" ng-href="#">give me recipe</a></p>
  <p><a class="btn btn-lg btn-success" ng-href="#">give me excercise</a></p>

</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> I AM ROB ANDERSON 2014</p>
</div>
